
body {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 4em;
  text-align: left;
  padding-top: 20px;
}

figcaption {
  font-size: 1em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  padding: 5px;
  line-height: 1.2em;
}

.author {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

.story-text{
  line-height: 1.7;
}
.logo {
  background: url(../images/bloc-logo.png) no-repeat top auto;
  padding: 20px;
  width: 100px;
}


.large-pic {
  width: 100%;
}


.header {
  background: url(../images/instagram-pic.jpg) no-repeat center auto;
  margin: 20px;
  padding: 10px;
  width: 70%;
}

 .left, .right {
  float: left;
  width: 50%;
}


.right {
  float: right;
  text-decoration: none;
}

/* nav list */
ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
color: #ffffff;
text-decoration: none;
font-weight: bold;
 }

 a:visited{
   color: #8B0000;
 }

a:hover{
  color: purple;
}

a:active{
  color: blue;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 75%;
}
